[workspace]
members = [ "crates/telegrab" ]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"
authors = ["Jonir Rings <i@jonirrings.com>"]

[profile.release]
lto = true
opt-level = "z"
codegen-units = 1
strip = true
